@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To CV App</h1>
    <a class="btn btn-primary m-3" asp-page="/CreateCV">Create CV</a>
    <a class="btn btn-primary m-3" asp-page="/VeiwAllCV">Veiw all created CV</a>
</div>
